<ion-header>
  <ion-toolbar>
    <ion-title>PAGOS</ion-title>
    <ion-back-button slot="start"defaultHref="/"></ion-back-button >
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card>

    <ion-card-content>
      <ion-label>
        <h2>Prestamo de: {{_cliente}}</h2>
        </ion-label>
    <ion-grid fixed>
    <ion-row>
       <ion-col size="auto">
         <ion-row><ion-avatar>
          <img  src="http://finapoyo-atlixco.com/{{_urlIMG}}" ></ion-avatar></ion-row>
        </ion-col>
        <ion-col size="auto">
          <ion-row>Monto prestado: {{prestamoEspecifico.cantidadprestamo}}</ion-row>
          <ion-row>Monto a pagar: {{prestamoEspecifico.totalapagar}}</ion-row>
          <ion-row>Plazo prestamo: {{prestamoEspecifico.plazoprestamo}} dias</ion-row>
        </ion-col>
        </ion-row>
      </ion-grid>
      <div>
        <ion-grid fixed>
          <ion-row>
            <ion-col size="auto">Monto restante
              <ion-row>$ {{prestamoEspecifico.totalrestante}} </ion-row>
          </ion-col>
            <ion-col size="auto">Pago diario
              <ion-row>  $ {{prestamoEspecifico.pagodiario}} </ion-row>
            </ion-col>
            <ion-col size="auto">Fecha de prestamo
              <ion-row>{{prestamoEspecifico.fechapago}} </ion-row>
            </ion-col>
            <ion-col size="auto">Mora
              <ion-row>$50 </ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <ion-buttons><ion-button
        color="secondary" [routerLink]="['/expediente',_urlIMG, prestamoEspecifico.urlfachada]">Expediente -
        <ion-icon name="folder-outline"></ion-icon>
      </ion-button></ion-buttons>
    </ion-card-content>
  </ion-card>


  <ion-card>
    <p></p>
    <ion-card-title class="ion-text-center">PRESTAMOS</ion-card-title>


    <ion-list>
      <ion-radio-group>

        <ion-item *ngFor="let prestamo of prestamosCliente" (click)="buscarprestamo(prestamo.folio)">
          <ion-label>{{prestamo.folio}}</ion-label>
          <ion-radio slot="end"></ion-radio>
        </ion-item>

      </ion-radio-group>
    </ion-list>

  </ion-card>


<ion-card class="ion-text-center">
  
<ion-card>
  <ion-item fill="outline">
    <ion-label position="stacked">FECHA DE PAGO:</ion-label>
    <ion-input [(ngModel)]="_fecha" name="_fecha"></ion-input>
  </ion-item>
  <ion-item fill="outline">
    <ion-label position="stacked">ABONO:</ion-label>
    <ion-input [(ngModel)]="_abono" name="_abono" value="0" ></ion-input>
  </ion-item>
  <ion-item fill="outline">
    <ion-label position="stacked">CANTIDAD RESTANTE:</ion-label>
    <ion-input [(ngModel)]="_restante" name="_restante" readonly></ion-input>
  </ion-item>
</ion-card>

  <ion-button (click)="registroPago()"
  fill="outline"
  class="ion-wrap" >Pago</ion-button>
  <ion-button (click)="agregarMora()"
  fill="outline " >Mora</ion-button>

 <!-- <ion-button (click)="pruebaSMS()"
  fill="outline" href="{{urlWhats}}">SMS</ion-button>

  <ion-button (click)="pruebaSMS()"
  fill="outline " >Prueba</ion-button>   -->
<p></p>
</ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title>Desarrollado por Automatiza cs s.a.s</ion-title>
  </ion-toolbar>
</ion-footer>
