  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    
    <div class="centrado">
      <h1>Bienvenido a tu App</h1>
    </div>
    <br>
    <br>

    <ion-img src="assets/imagenes/ruta2.png" 
    style="align-items: center;"></ion-img>

  </ion-content>

  <ion-footer>
    <ion-toolbar>
      <div class="centrado">
        <ion-title><ion-icon name="logo-ionic"></ion-icon>ㅤㅤㅤ Desarrollado 2023ㅤㅤㅤ<ion-icon name="logo-android"></ion-icon></ion-title>
      </div>
    </ion-toolbar>
  </ion-footer>








<!--

<ion-header>
  <ion-toolbar>
    <br>
    <ion-title class="ion-text-center">
      MENU</ion-title>


<ion-buttons class="ion-text-center">

  <ion-card>
  <ion-button routerLink="/clientes" color="primary" >
    CLIENTES
  </ion-button>
  <ion-button routerLink="/renovacion"  color="primary" color="primary">
    RENOVACIONES
  </ion-button>
  <ion-button routerLink="/solicitudes" color="primary">
    SOLICITUDES
  </ion-button>
</ion-card>
</ion-buttons>


  </ion-toolbar>
</ion-header>

<ion-content>



</ion-content>
<ion-img
  src="assets/imagenes/LOGO 200x200.png" style="align-items: center;"
  ></ion-img>
<ion-content>
</ion-content>


<ion-footer>
  <p> ------ {{correoAsesor}} -------</p>
  <ion-toolbar>
    <ion-title>Desarrollado por: Automatiza cs s.a.s</ion-title>
  </ion-toolbar>
</ion-footer>


-->