.centrado{
    text-align: center;
}

.pago{
    background-color: greenyellow;
}

.timeline-dot {
    position: relative;
    width: 24px;
    height: 24px;
    background-color: #ff0000;
    border-radius: 50%;
    margin-right: 10px;
    z-index: 1;
  }